{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "plugins": [
        "react",
        "react-native"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "curly": ["error", "all"],
        "no-eval": "error",
        "arrow-body-style": ["error", "as-needed"],
        "arrow-parens": ["error", "always"],
        "no-duplicate-imports": "error",
        "no-var": "error",
        "prefer-arrow-callback": ["error", {
            "allowNamedFunctions": true
        }],
        "prefer-const": "error",
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "object-curly-spacing": ["error", "always"],
        "react/prop-types": [0]
    }
}